body, html {
  height: 100%;
}

.home-header {
  background-color: $deep;
  height: 100%;
  padding-top: $size;
}

.top-line {
  display: flex;
  align-items: center;
  height: $size;
  background-color: $deep;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
}

.top-line__decoration {
  flex-grow: 1;
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 50px;
    background-color: #fff;
    top: -4px;
    position: relative;
    opacity: $border-opacity;
  }
}

.logo, .menu-button-container {
  flex-basis: 200px;
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5rem;
  font-weight: 500;

  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.logo__text {

}

.logo__img-wrapper {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container {
  flex-basis: 200px;
  text-align: right;
  position: relative;
  height: $size;

}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: $size;
  height: $size;
  background-image: url('../images/dist/bars-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3C3C3C;
  transition: background .25s ease-out;

  &:hover {
    background-color: $accent;
  }
}

.top-line__contacts {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4em;
  color: rgba(#fff, .5);
  display: flex;
  align-items: center;
}

.top-line__numbers, .top-line__text {
  font-family: roboto-cc, sans-serif;
  margin-left: 7px;

  a {
    color: $accent;
  }
}

.top-line__numbers {
  color: $accent;
}

.top-line__separator {
  height: 30px;
  width: 1px;
  background-color: #fff;
  opacity: $border-opacity;
  display: inline-block;
  margin: 0 20px;
}

.top-line_address {

}

.top-line__text {
  color: rgba(#fff, .75);
}

.home-header__content {
  height: 100%;
}


// Настройка стилей Swiper slide

.slider-img {
  height: 100%;
  width: 75%;
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
}

.slider-img__slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .45);
    z-index: 2;
  }
}

.slider-img__bg {
  width: 100%;
  height: 100%;
  //background-position: center center;
  background-size: cover;
  position: relative;
}


// Стили текстового слайдера
.slider-text {
  position: absolute;
  height: calc(100% - #{$size});
  width: 100%;
  z-index: 2;
}

.slider-text__slide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slider-text__content {
  margin-right: 22%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.slider-text__title {
  font-size: 60px;
  line-height: 120%;
  max-width: 700px;
  font-family: oswald-cc, sans-serif;

  span {
    color: $accent;
    white-space: nowrap;
  }
}

.slider-text__description {
  margin: 50px 0;
  max-width: 500px;
  font-size: 13px;
  font-weight: 600;
}


// Стили для пагинации
.slider-pagination {
  flex-basis: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 7.5px;
    background-color: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: $accent;

    &::after {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      border: 1px solid $accent;
      border-radius: 50%;
      top: -4px;
      left: -4px;
    }
  }
}

// Стили для скроллбара
.slider-scrollbar {
  flex-grow: 1;

  .swiper-scrollbar {
    height: 1px;
    background-color: rgba(#fff, .2);
  }

  .swiper-scrollbar-drag {
    background-color: $accent;
    height: 3px;
    cursor: pointer;
    top: -1px;
  }
}


//  Стили для навигации
.slider-navigation {
  flex-basis: 140px;
  position: relative;
  .slider-navigation__container {
    width: 90px;
    position: relative;
    margin: auto;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 32px;
    height: 32px;
    color: $accent;
    background-color: #3c3c3c;
    border-radius: 50%;
    border: 2px solid $accent;
    top: 7px;
    &:after {
      font-size: 10px;
    }
    &.swiper-button-disabled {
      opacity: 1;
      color: #8a8a8a;
      border-color: #8a8a8a;
    }
  }
}

// Изображение гайки
.slider-gear {
  width: 470px;
  height: 470px;
  position: absolute;
  background-image: url("../images/dist/gear.svg");
  background-size: cover;
  background-position: center;
  top: 50%;
  margin-top: -270px;
  z-index: 9;
  right: calc(23.5% - 235px);
}


.slider-pagination-count {
  position: absolute;
  right: 15px;
  top: 35px;
  width: 120px;
  z-index: 100;
  font-family: oswald-cc, sans-serif;
  font-weight: 500;
  font-size: 24px;
  .current {
    font-size: 40px;
    color: $accent;
    display: inline-block;
    min-width: 42px;
  }
}

.slider-pagination-current {
  right: 40px;
  bottom: 10px;
  position: absolute;
  font-size: 100px;
  font-family: oswald-cc, sans-serif;
  color: $deep;
  -webkit-text-stroke: 1px #7f7f7f;

}

.slider-pagination-dot {
  color: $accent;
  -webkit-text-stroke: 0 transparent;
}